---
import '/src/styles/header.css';
---

<!-- components/Header.astro -->
<header id="header">
  <div class="aurora"></div>
  <span class="headerSpan">AIロイド達の住む超異世界空間</span>
  <h1 class="title"><a href="/">RUCKY-PANNS WORLD</a></h1>
</header>
