---
import '/src/styles/headerIndex.css';
---

<!-- components/HeaderIndex.astro -->
<header class="headerIndex">
  <span class="headerSpan"
    >AIロイド達の住む超異世界空間〈ラッキーパンズワールド〉</span
  >
  <h1 class="titleIndex reflecth" data-text="RUCKY-PANNS WORLD">
    RUCKY-PANNS WORLD
  </h1>
</header>
